h1{
    font-family: Georgia, serif;
}
.container{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .wbdv-addCourse{border-radius: 50%;}

  #sb{
      background-color: #99ccff
  }

.wbdv-columnnamebg{
      background-color: #F0F0F0 ;
      border-bottom:solid;
      box-shadow:  0.5px 0.5px 0.5px 0.5px #888888;
}

body{
    background-color: #f2f2f2
}

.wbdv-cross{
    padding-top: 0.7%
}
.wbdv-rowadjustment{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white ;
    border-bottom:solid;
    border-left:solid;
    border-right: solid;
    border-color: #888888;
}

.wbdv-bottom-right{
    position: fixed;
    bottom: 1%;
    right: 1%;
}
.wbdv-increaseWidth{
width:100%}